body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: rgb(255, 120, 10);
    color: rgb(255, 255, 255);
    padding: 10px 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20
    px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

