@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
*::after
*::before
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: rgb(233, 229, 229)
}

img{
    max-width: 100%;
}

/* ESTO ES EL HEADER*/

.header{
    display: flex;
    justify-content: center;
    margin: 40px;
    padding: 10px;
    background-color: #1aa0c9;
    border-radius: 10px;
    font-size: 20px;
}

/*ESTO ES EL CONTENEDOR*/

.shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.shop__items{
    border-radius: 10px;
    color: #000;
}

.shop__items:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.171);
}

.shop__info{
    padding: 10px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.shop__items img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.shop__items img:hover{
    transform: scale(1.1);
    transition: 0.8s;
}

.about{
    font-size: 19px;
    font-weight: 900;
}

.shop__info button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
/*AQUI EMPIEZAN LAS OPINIONES*/ 
.opinion__head{
    display: flex;
    justify-content: center;
    font-size:50px ;
}

.opiniones .opinion__container{
    display: flex;
    justify-content:space-around;
}

.opiniones .opinion__container .opinion__box{
    background: #ffffff;
    margin: 40px;
    padding:30px;
    text-align: center;
    border-radius: 24px;
    width: 70%;
    height: 70%;
}

.opiniones .opinion__container .user__opinion img{
    border-radius: 50%;
    object-fit: cover;
    height: 30%;
    width: 30%;
    margin-top: 10px;
}

.opiniones .opinion__container .user__opinion h3{
    font-size: 50px;
}

.opiniones .opinion__container .user__opinion i{
    color: #1aa0c9;
}

.user__comments{
    font-size: 30px;
    padding: 10px;
}




