.footer {
    width: 100%;
    background-color:rgba(250, 243, 243, 0.863);
}
.footer__group {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45 0px;
}
.footer__logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__logo {
    width: 250px ;
}
.footer__content h2 {
    margin-bottom: 25px;
    font-size: 25px;
}
.footer__content p {
    margin-bottom: 10px;
}