.banner {
    position: relative;
    height: 430px;
    width: auto;
    background-image: url(/img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner__capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.685);
}

.banner__content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} 

.banner__content h2 {
    font-size: 60px;
}

.banner__content h1 {
    font-size: 20px;
}
